yay/
pulse/
discord/
Discord/
Electron/
spicetify/
spotify/
Vencord/
dconf/
user-dirs.dirs
user-dirs.locale
gtk-3.0/
neofetch/
hyfetch.json
azahar-emu/
PCSX2/
menus/
mimeapps.list
QtProject.conf
sudachi/
desmume/
onthespot/
qBittorrent/
vlc/
citron/
